@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
    }
    .botao{
        margin-top: 5px;
        width: 190px;
        height: 30px;
        font-size: 8px;
    }
    .carrosel-filmes{
        
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
    .botao{
        width: 15%;
        margin-bottom: 10%;
    }
    .filme-principal{
        height: 50%;
    }
    .carrosel-filmes{
        
    }
}